.layout {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 16px;
}
