.card-user{
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.user-image{
    height: 35px;
    width: 35px;
    border-radius: 50%;

}
.card-user-name{
color: #000;
font-weight: 400;
margin-left: 10px;
text-decoration: none;

}